/* Padding Wrapper
------------------------------- */
.padding-wrapper {
    padding: var(--m-padding-vert) 0 0;

    &__wrap {
        max-width: var(--m-max-width);
        margin-left: auto;
        margin-right: auto;
        padding: 0 var(--m-padding-hori);
    }
}

/* Header
------------------------------- */
/*
* Header
*/
.header {
    padding: 1em 1.3em;
    font-size: var(--fs-small);
    border-bottom: 3px solid var(--c-blue);

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        flex-shrink: 0;
        margin-right: 2em;

        a {
            display: block;
        }

        img {
            height: 3.4em;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    @media (max-width: 649px) {
        &__logo {
            img {
                &:last-child {
                    display: none;
                }
            }
        }
    }

    @media (min-width: 650px) {
        &__logo {
            img {
                &:first-child {
                    display: none;
                }
            }
        }
    }

    @media (min-width: 900px) {
        font-size: var(--fs-body);
    }
}

/*
* Nav Item
*/
.nav-item {
    // a
    --navitem-trans: 300ms ease;
    --navitem-width: 2.8em;

    position: relative;
    display: block;
    min-width: var(--navitem-width);
    text-align: center;
    transition: transform var(--navitem-trans);

    & + & {
        margin-left: calc(var(--navitem-width) * 0.5);
    }

    &__ico {
        // i
        margin-bottom: 0;
        width: calc(var(--navitem-width));
        height: var(--navitem-width);

        &,
        & svg {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        svg {
            width: 100%;
            object-fit: contain;

            path,
            rect {
                transition: fill var(--navitem-trans),
                    stroke var(--navitem-trans);
            }
        }
    }

    &__text {
        // text
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%);

        display: block;
        opacity: 0;
        line-height: 1;
        letter-spacing: var(--ls-thinn);
        font-weight: var(--fw-bold);
        transition: color var(--navitem-trans), opacity var(--navitem-trans);
    }

    /*
    * Mobile Active state
    */
    &:global(.active) {
        transform: translateY(-0.5em); // move to center
        transition: transform var(--navitem-trans);

        .nav-item__ico {
            // i
            svg {
                path[stroke-width] {
                    stroke: var(--c-blue);
                }

                path:not([stroke-width]),
                rect {
                    fill: var(--c-blue);
                }
            }
        }

        .nav-item__text {
            // text
            opacity: 1;
            color: var(--c-blue);
        }
    }

    /*
    * Desktop
    */
    @media (min-width: 650px) {
        transform: none;

        &__text {
            // text
            position: static;
            transform: none;

            opacity: 1;
        }

        &:global(.active) {
            transform: none;
        }
    }
}
