/* Progress
------------------------------- */
.progress-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-progress);
    color: var(--c-grey);
    text-align: center;

    &__lvl {
        em,
        small {
            display: block;
            line-height: 1.2;
        }

        em {
            font-size: 1em;
            font-weight: var(--fw-bold);
        }

        small {
            font-size: 0.55em;
        }
    }

    &__grave {
        // i

        svg {
            width: 1.2em;
            margin: 0 auto 0.2em;
            color: var(--c-black);
        }
    }

    &__prog {
        flex-shrink: 0;
        font-size: 0.8em;
    }

    &__bar-wrap {
        position: relative;
        flex-grow: 1;
        margin-left: 0.9em;
        margin-right: 0.9em;
        max-width: 26em;
        height: 0.4em;
        background: var(--c-grey-light);
        overflow: hidden;
        border-radius: 200vh;
    }

    &__bar {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background: var(--c-blue);
        transition: width 300ms ease;
        border-radius: 200vh;
    }
}

/* Question
------------------------------- */
.question {
    min-height: 6.5em;
    text-align: center;
    font-size: var(--fs-question);

    .progress-bar + & {
        margin-top: 1em;
    }

    &__wrap {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        position: relative; // for check
        padding: 0 1.2em;
    }

    &__text {
        > span {
            &:not(.question__place-wrap) {
                display: inline-block;
                margin: 0.3em 0;
            }
        }

        rt {
            user-select: none;

            .question--no-fur & {
                display: none;
            }
        }
    }

    &__place-wrap {
        display: inline-block;
        min-width: 1.5em;
        margin: 0 0.4em;
        text-align: center;
        border-bottom: 2px solid currentColor;

        &--correct {
            color: var(--c-green);
        }
    }

    &__place-inner {
        display: inline-block;
        font-weight: var(--fw-bold);

        opacity: 0;

        .question__place-wrap--correct & {
            opacity: 1;
            color: var(--c-green);
            transition: opacity 300ms ease;
        }
    }

    &__check {
        position: absolute;
        right: -1em;
        bottom: 0.25em;
        opacity: 0;

        &--correct {
            opacity: 1;
            color: var(--c-green);
            transition: opacity 800ms ease;
        }

        svg {
            width: 1.6em;
        }
    }

    &__eng {
        min-height: 1.2em;
        margin-top: 0.8em;
        line-height: 1.2em;
        font-size: 0.9em;
        text-align: center;
        text-transform: lowercase;
        color: var(--c-grey);

        &:after {
            content: ".";
        }
    }

    &__next {
        margin-top: 0.8em;
        text-align: center;

        button {
            text-transform: uppercase;
            font-size: 0.66em;
            font-weight: var(--fw-bold);

            &:disabled {
                opacity: 0;
                user-select: none;
                pointer-events: none;
            }
        }
    }
}

/* Keyboard & Key
------------------------------- */
.keyboard {
    max-width: 9.5em;
    width: 100%;
    margin: 1em auto 0;
    font-size: var(--fs-key);

    display: grid;
    grid:
        "ha ga de to" 2em
        "ni no he wo" 2em
        "kara kara made made" 2em
        / 1fr 1fr 1fr 1fr;
    gap: 0.45em;
}

.key {
    // button
    --key-post-ans-opacity: 0.4;

    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 1.5em;
    height: 2em;
    border-radius: 0.25em;
    border: 2px solid var(--c-orange);
    user-select: none;
    transition: color 150ms ease, border-color 150ms ease,
        background-color 150ms ease;

    .keyboard--post-ans & {
        cursor: default;
    }

    &:focus {
        outline: none;
        color: var(--c-blue);
        border-color: var(--c-blue);
    }

    &[data-state="correct"] {
        color: var(--c-white);
        border-color: var(--c-green);
        background: var(--c-green);
    }

    &:not([data-state="correct"]) {
        .keyboard--post-ans & {
            opacity: var(--key-post-ans-opacity);
        }
    }

    &[data-state="incorrect"] {
        color: var(--c-red);
        border-color: var(--c-red);
        opacity: var(--key-post-ans-opacity);
        pointer-events: none;
    }

    span {
        display: inline-block;
        line-height: 1;
        letter-spacing: var(--ls-thin);
        margin-left: -0.05em; // offset --ls-thin (hack)
    }

    /**
    * Grid Layout code
    */

    &[data-particle="は"] {
        grid-area: ha;
    }

    &[data-particle="が"] {
        grid-area: ga;
    }

    &[data-particle="で"] {
        grid-area: de;
    }

    &[data-particle="と"] {
        grid-area: to;
    }

    &[data-particle="に"] {
        grid-area: ni;
    }

    &[data-particle="の"] {
        grid-area: no;
    }

    &[data-particle="へ"] {
        grid-area: he;
    }

    &[data-particle="を"] {
        grid-area: wo;
    }

    &[data-particle="から"] {
        grid-area: kara;
    }

    &[data-particle="まで"] {
        grid-area: made;
    }
}
