:root {
    font-size: 62.5%;
    scroll-behavior: smooth;

    --fw-normal: normal;
    --fw-bold: bold;

    --c-white: #fff;
    --c-text-color: #444;
    --c-theme-color: #74bbf8;

    --m-padding-edge: 2.6rem;
}

body {
    position: relative;

    font-size: $fs-body;
    font-weight: var(--fw-normal);
    font-family: $ff-sans;

    line-height: 1.6;
    color: var(--c-text-color);
    background: $c-white;
    overflow-anchor: auto;
}

a {
    &,
    &:hover,
    &:focus,
    &:active {
        transition: all $transition-default; //sass-lint:disable-line no-transition-all
        text-decoration: none;
        color: inherit;
    }
}

::selection {
    color: $c-white;
    background: var(--c-theme-color);
}

button,
[type="button"],
[type="submit"] {
    cursor: pointer;
}

em {
    font-style: normal;
}

img,
svg,
iframe {
    display: block;
    max-width: 100%;
}

img,
svg {
    height: auto;
}
