:root {
    font-size: 62.5%;
    scroll-behavior: smooth;

    // Text
    --ff-sans: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Yu Gothic",
        YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

    --fw-normal: normal;
    --fw-bold: bold;

    --ls-normal: -0.05em;
    --ls-thinner: -0.075em;
    --ls-thin: -0.1em;

    // General font size sizes (horizontal)
    --fs-small: 1.2rem;
    --fs-body: 1.6rem;
    --fs-large: 1.8rem;
    --fs-title: 2.2rem;

    @media (min-width: 650px) {
        // + 0.2
        --fs-small: 1.4rem;
        --fs-body: 1.8rem;
        --fs-large: 2rem;
        --fs-title: 2.4rem;
    }

    @media (min-width: 1100px) {
        // + 0.4
        --fs-small: 1.6rem;
        --fs-body: 2rem;
        --fs-large: 2.2rem;
        --fs-title: 2.6rem;
    }

    // Drill font sizes (vertical)
    --fs-progress: 2.2rem;
    --fs-question: 1.8rem;
    --fs-key: 2.8rem;

    @media (min-height: 680px) {
        --fs-question: 2.4rem;
        --fs-key: 3.4rem;
    }

    @media (min-height: 850px) {
        --fs-progress: 3rem;
        --fs-question: 2.8rem;
        --fs-key: 4.3rem;
    }

    // Colors
    --c-white: #fff;
    --c-black: #000;
    --c-grey: #707070;
    --c-grey-light: #cccccc;
    --c-grey-white: #f7f7f7;

    --c-blue: #74bbf8;
    --c-orange: #fcbe63;
    --c-green: #51e1b6;
    --c-red: #ff7d7d;

    // Box shadow
    --bs-blur: 0.8em;
    --bs-color: rgba(0, 0, 0, 0.08);
    --bs-light: 0 0 var(--bs-blur) var(--bs-color);

    // Measurements
    --m-max-width: calc(var(--fs-body) * 40); //30em
    --m-padding-hori: 2.4rem;
    --m-padding-vert: 2.3rem;

    @media (min-width: 500px) {
        --m-padding-hori: 6rem;
    }

    @media (min-height: 680px) {
        --m-padding-vert: 5rem;
    }

}

body {
    position: relative;

    font-size: var(--fs-body);
    font-weight: var(--fw-normal);
    font-family: var(--ff-sans);
    letter-spacing: var(--ls-normal);

    line-height: 1.4;
    color: var(--c-black);
    background: var(--c-white);
    overflow-anchor: auto;
}

a {
    transition: color 150ms ease; //sass-lint:disable-line no-transition-all

    &,
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: inherit;
    }
}

::selection {
    color: var(--c-white);
    background: var(--c-blue);
}

button,
[type="button"],
[type="submit"] {
    border: none;
    padding: 0;
    font-weight: var(--fw-normal);
    letter-spacing: var(--ls-normal);
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}

em {
    font-style: normal;
}

img,
svg,
iframe {
    display: block;
    max-width: 100%;
}

img,
svg {
    height: auto;
}
