// Measurements
//----------------------------------------------- //
$breakpoint-ss: 450px;
$breakpoint-s: 600px;
$breakpoint-m: 900px;
$breakpoint-ml: 1200px;
$breakpoint-l: 1400px;
$breakpoint-xl: 1600px;

// Misc
//----------------------------------------------- //
$transition-default: 150ms ease;

:root {
    font-size: 62.5%;
    scroll-behavior: smooth;

    // Text
    --ff-sans: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Yu Gothic",
        YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;

    --fs-small: 1.2rem;
    --fs-body: 1.6rem;
    --fs-title: 2.1rem;

    --fw-normal: normal;
    --fw-bold: bold;

    --ls-body: -0.05em;

    // Colors
    --c-white: #fff;
    --c-black: #000;
    --c-grey: #707070;

    --c-blue: #74bbf8;
    --c-orange: #fcbe63;
    --c-green: #51e1b6;
    --c-red: #ff7d7d;

    // Measurements
    --m-padding-edge: 2.6rem;

    @media (min-width: $breakpoint-m) {
        --fs-small: 1.6rem;
        --fs-body: 2rem;
        --fs-title: 2.5rem;
    }
}

body {
    position: relative;

    font-size: var(--fs-body);
    font-weight: var(--fw-normal);
    font-family: var(--ff-sans);
    letter-spacing: var(--ls-body);

    line-height: 1.4;
    color: var(--c-black);
    background: var(--c-white);
    overflow-anchor: auto;
}

a {
    &,
    &:hover,
    &:focus,
    &:active {
        transition: all $transition-default; //sass-lint:disable-line no-transition-all
        text-decoration: none;
        color: inherit;
    }
}

::selection {
    color: var(--c-white);
    background: var(--c-blue);
}

button,
[type="button"],
[type="submit"] {
    cursor: pointer;
}

em {
    font-style: normal;
}

img,
svg,
iframe {
    display: block;
    max-width: 100%;
}

img,
svg {
    height: auto;
}
