/* Section
------------------------------- */
.section {
    padding-bottom: 2em;
}

/* Title
------------------------------- */
.title {
    display: flex;
    align-items: center;
    margin-bottom: 0.8em;

    font-size: var(--fs-title);
    font-weight: var(--fw-bold);

    &__icon {
        margin-right: 0.6em;

        > svg {
            width: 1em;
        }
    }

    // &__text {}
}

/* ToggleBlock
------------------------------- */
.toggle-block {
    display: flex;
    align-items: center;

    & + & {
        margin-top: 1.4em;
    }

    &__inp {
        font-size: 1.1em;
    }

    &__cont {
        margin-left: 0.5em;
    }

    &__tit {
        // h3
        margin-bottom: 0.2em;
    }

    &__text {
        // p
        font-size: var(--fs-small);
        color: var(--c-grey);
    }
}

/* StatBlock
------------------------------- */
.stat-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & + & {
        margin-top: 0.8125em;
        padding-top: 0.8125em;
        border-top: 1px solid var(--c-grey-light);
    }

    &__title {
        padding-right: 1em;

        p {
            // description
            font-size: var(--fs-small);
            color: var(--c-grey);
        }
    }

    &__cont {
        flex-shrink: 0;
        line-height: 1.1;
        text-align: right;

        strong {
            font-weight: var(--fw-bold);
        }

        em {
            color: var(--c-blue);
        }

        i {
            color: var(--c-orange);
        }

        small {
            font-size: var(--fs-small);
            color: var(--c-grey);
            line-height: 1.1;
        }
    }
}

/* Prose
------------------------------- */
.prose {
    a {
        color: var(--c-blue);
        text-decoration: underline;

        &:hover,
        &:focus,
        &:active {
            color: var(--c-orange);
        }
    }
}