/* Button
------------------------------- */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.375em 0.8125em;

    font-weight: var(--fw-normal);
    letter-spacing: var(--ls-body);
    line-height: 1.2;
    text-align: center;

    border-radius: 0.3125em;
    border: solid 2px;
    transition: color 300ms ease, border-color 300ms ease,
        background-color 300ms ease;

    &--blue {
        color: var(--c-white);
        background: var(--c-blue);
        border-color: var(--c-blue);

        &:hover,
        &:focus,
        &:active {
            color: var(--c-white);
            background: var(--c-blue);
        }
    }

    &--green {
        color: var(--c-white);
        background: var(--c-green);
        border-color: var(--c-green);

        &:hover,
        &:focus,
        &:active {
            color: var(--c-green);
            background: var(--c-white);
        }
    }

    &--red {
        color: var(--c-white);
        background: var(--c-red);
        border-color: var(--c-red);

        &:hover,
        &:focus,
        &:active {
            color: var(--c-red);
            background: var(--c-white);
        }
    }

    &--orange {
        color: var(--c-white);
        background: var(--c-orange);
        border-color: var(--c-orange);

        &:hover,
        &:focus,
        &:active {
            color: var(--c-orange);
            background: var(--c-white);
        }
    }

    &--transitioning {
        &,
        &:hover,
        &:focus,
        &:active {
            color: var(--c-green);
            background: var(--c-white);
            border-color: var(--c-green);
        }
    }

    &__icon {
        margin-left: 0.3125em;

        svg {
            width: 1em;
            height: 1em;
            object-fit: contain;
            transition: transform 500ms ease-out;

            .button--transitioning & {
                transform: rotate(360deg);
            }
        }
    }
}

/* ButtonBlock
------------------------------- */
.button-wrap {
    display: grid;
    gap: 0.5625em;
    grid: 1fr / 1fr 1fr;
}

/* Toggle Switch
------------------------------- */
.toggle-switch {
    position: relative;
    display: block;
    width: 52px;
    height: 27px;

    input[type="checkbox"] {
        display: block;
        opacity: 0;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .switch {
        position: absolute;
        background-color: var(--c-white);
        border: 1px solid var(--c-black);
        border-radius: 25px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: background-color 0.2s ease;

        &::before {
            position: absolute;
            content: "";
            left: 2px;
            top: 2px;
            width: 21px;
            height: 21px;
            background-color: var(--c-orange);
            border-radius: 50%;
            transition: transform 0.3s ease;
        }
    }

    input[type="checkbox"]:checked + .switch::before {
        transform: translateX(25px);
        background-color: var(--c-white);
    }

    input[type="checkbox"]:checked + .switch {
        background-color: var(--c-blue);
        border-color: var(--c-blue);
    }
}
