/* Button
------------------------------- */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em 2em;
    line-height: 1.4;
    text-align: center;
    border-radius: 1.4rem;
    color: var(--c-white);
    background: var(--c-blue);
    border: 1px solid var(--c-blue);

    &:hover,
    &:focus,
    &:active {
        color: var(--c-blue);
        background: var(--c-white);
    }
}

/* Toggle Switch
------------------------------- */
.toggle-switch {
    position: relative;
    display: block;
    width: 52px;
    height: 27px;

    input[type="checkbox"] {
        display: block;
        opacity: 0;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .switch {
        position: absolute;
        background-color: var(--c-white);
        border: 1px solid var(--c-black);
        border-radius: 25px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: background-color 0.2s ease;

        &::before {
            position: absolute;
            content: "";
            left: 2px;
            top: 2px;
            width: 21px;
            height: 21px;
            background-color: var(--c-orange);
            border-radius: 50%;
            transition: transform 0.3s ease;
        }
    }

    input[type="checkbox"]:checked + .switch::before {
        transform: translateX(25px);
        background-color: var(--c-white);
    }

    input[type="checkbox"]:checked + .switch {
        background-color: var(--c-blue);
        border-color: var(--c-blue);
    }
}
